<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MoonQuestion</title>

  <link rel="icon" href="{{request.static_url('moonquestion:static/favicon.ico')}}">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{request.static_url('moonquestion:static/css/main.css')}}">
</head>

<body>

  <div class="blog-masthead">
    <div class="container">
      <nav class="nav blog-nav">
        <a class="nav-link active" href="#">Home</a>
      </nav>
    </div>
  </div>

  <div class="blog-header">
    <div class="container">
      <p class="blog-title">MoonQuestion</p>
      <p class="lead blog-description">What you question defines who you are.</p>
    </div>
  </div>
  <div>
    <ol>
      <li><a href="/">runtime + compiler + </a></li>
      <li><a href="/umd/">runtime + compiler</a></li>
    </ol>
  </div>
  <!-- Begin page content -->
  <main role="main" class="container">
    {% block content %}
    <p>No content</p>
    {% endblock content %}
  </main>

  {% block js %}
  {% endblock js%}
</body>

</html>
